doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Weather App
  body.bg
    block nav
      nav(class="navbar navbar-dark bg-dark text-center")
        h1(class="text-white") Weather App
    block content
      div(class="container" id="mainBody")
        include searchForm        
        include actionMessages
        include dataRow
    script(src="main.bundle.js")

