form
  div(class="input-group my-3")
    
    input(type="text" class="form-control" placeholder="Type city name to fetch weather" id="cityNameInput")

    div(class="input-group-append")
      button(class="btn btn-success" id="basic-addon2") Fetch weather