.w-10 {
  width: 10% !important;
}

.invisible {
  opacity: 0;
}

.hidden {
  visibility: hidden;
}

.animate {
  opacity: 0;
  animation: image-change 2s linear 0.15s 1 forwards;
}

@keyframes image-change {
  0% {
    opacity: 0;
    /* transform: scale(1.2); */
  }

  50% {
    opacity: 0;
  }

  90% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
    /* transform: scale(1); */
  }
}